<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap.css">
    <script src="../bootstrap-4.3.1-dist/js/jquery-3.4.1.js"></script>
    <script src="../bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <script src="../bootstrap-4.3.1-dist/script.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../bootstrap-4.3.1-dist/script.js"></script>
</head>
<body>
<!--<form th:action="@{/addMessege}" method="post">-->
    <!--<h2>Введите сообщение</h2><br/>-->
    <!--<input type="text" hidden name="authUserLogin" th:value="${authUser}"/>-->
    <!--Текст сообщения<br/>-->
    <!--<input type="text" name="content"></input><br/>-->
    <!--Логин получателя<br/>-->
    <!--<input type="text" name="recipientLogin"></input><br/>-->
    <!--<input type="submit" value="Ok" name="Ok"><br>-->

    <body class="text-center">
    <div class="container">
        <form>

            <input type="text" hidden name="authUserLogin" th:value="${authUser}"/>
    <a href="/authUserLogin" class="col-4 btn btn-lg btn-primary btn-light mb-2">Написать соощение</a>
    <br>
    <a href="/recipientLogin" class="col-4 btn btn-lg btn-primary btn-dark">Кому</a>
</form>
</body>
</html>