<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap.css">
    <script src="../bootstrap-4.3.1-dist/js/jquery-3.4.1.js"></script>
    <script src="../bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <script src="../bootstrap-4.3.1-dist/script.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../bootstrap-4.3.1-dist/script.js"></script>
</head>
<body class="text-center">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="col-2 mt-2">
                <a href="/addMessege" class="btn btn-lg btn-primary btn-light mb-2">Написать сообщение</a>
                <br>
                <a href="/showUserMessege" class="btn btn-lg btn-primary btn-dark">Посмотреть сообщения</a>
            </div>
            <div class="col-10">
                <p class="h2 mb-2 font-weight-normal">My messages</p>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="users" type="templates"*/-->
                    <tr th:each="userSender,iter : ${userList}">
                        <!--//TODO: check cuurent user-->
                    <!--/*@thymesVar id="name" type="templates"*/-->
                        <td th:onclick="'openModal(' + ${iter.index} + ')'" onclick="openModal()" th:text="${userSender.login}"></td>
                        <td th:text="${userSender.password}"></td>

                        <!-- Modal -->
                        <div class="modal fade" th:id="'exampleModal' + ${iter.index}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            <p th:text="'Сообщения от ' + ${userSender.login}" />
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <!--...-->
                                    <body class="text-center">
                                        <div class="container">
                                            Сообщения от пользователя:

                                            <div th:each="messege : ${userSender.list}">
                                                <!--/*@thymesVar id="name" type="templates"*/-->
                                                <p th:text="${messege.content}"></p>
                                            </div>

                                            <!--<a href="/recipientLogin" class="col-4 btn btn-lg btn-primary btn-dark">Кому</a>-->
                                            <form th:action="@{/sendMessage}" method="post">
                                                <input hidden="hidden" type="text" class="form-control" name="userSenderLogin" th:value="${loggedUser}">
                                                <input hidden="hidden" type="text" class="form-control" name="userRecipLogin" th:value="${userSender.login}">
                                                <input type="text" class="form-control" name="messageContent" placeholder="Текст сообщения" required="" autofocus="">
                                                <button type="submit" class="btn btn-primary btn-light">Отправить сообщение</button>
                                            </form>
                                    </div>
                                    </body>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>

                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function openModal(index) {
            $('#exampleModal' + index).modal();
        }
    </script>
</body>
</html>