<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Login</title>-->

<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

<!--<link rel="stylesheet" href="../bootstrap-4.3.1-dist/css/bootstrap.css">-->
<!--<script src="../bootstrap-4.3.1-dist/js/jquery-3.4.1.js"></script>-->
<!--<script src="../bootstrap-4.3.1-dist/js/bootstrap.js"></script>-->
<!--<script src="../bootstrap-4.3.1-dist/script.js"></script>-->


<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<!--<script src="../bootstrap-4.3.1-dist/script.js"></script>-->

<!--</head>-->
<!--<body class="text-center">-->
<!--<div class="container">-->
<!--<h4>Войти в систему</h4>-->
<!--<form th:action="" method="post">-->

<!--<div class="col-4 mb-2">-->
<!--<input type="text" class="form-control" name="login" placeholder="Login">-->
<!--</div>-->
<!--<div class="col-4 mb-2">-->
<!--<input type="text" class="form-control" name="password" placeholder="Password">-->
<!--</div>-->
<!--<div class="col-4">-->
<!--<button type="submit" class="btn btn-primary">Войти</button>-->
<!--</div>-->

<!--</form>-->
<!--</div>-->
<!--</body>-->
<!--</html-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap JS/CSS -->
    <link rel="stylesheet" href="../static/bootstrap-4.3.1-dist/css/bootstrap.css" th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/bootstrap-4.3.1-dist/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.js}"></script>

    <!-- Custom JS/CSS -->
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

</head>

<body>

Вход в систему
<!--<form>-->
    <!--<h2>Введите сообщение</h2><br/>-->
    <!--Текст сообщения<br/>-->
    <!--<input id="myContent" type="text" name="content"><br/>-->
    <!--Логин получателя<br/>-->
    <!--<input id="myRecipientLogin" type="text" name="recipientLogin"><br/>-->
    <!--<input type="button" onclick="sendMessage()" value="OK" name="Ok"><br>-->
    <!--<p id="info"></p>-->

    <!--<a href="/all">На главную</a>-->
<!--</form>-->
<form action="" method="post">
    <div class="col-4 mb-2">
        <input id="newLogin" type="text" name="login">
        <!--<input type="text" class="form-control" name="login" placeholder="Login">-->
    </div>
    <div class="col-4 mb-2">
        <input id="newPassword" type="password" name="password">
        <!--<input type="text" class="form-control" name="password" placeholder="Password">-->
    </div>
    <div class="col-4">
        <!--<input type="button" onclick="addNewUser()" value="OK" name="Ok"><br>-->
        <!--<p id="info"></p>-->

        <!--<a href="/all">На главную</a>-->
        <button type="submit" class="btn btn-primary">Войти</button>
    </div>
</form>
</body>
</html>